body {
  font-family: 'Segoe UI', sans-serif;
  background: url('back.jpg') no-repeat center center fixed;
  background-size: cover;
  color: #333;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;   
  background-color: transparent;
  padding: 15px 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  gap: 20px;
}


.logo {
  font-size: 40px;        
  color: #a7d806;
  line-height: 1;         
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  margin-left: auto;
  padding-right: 30px;
}


.nav-links a {
  text-decoration: none;
  color: #f3efef;
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


ul li a:hover:not(.active) {
  background-color: #04AA6D;
}


ul li a.active {
  background-color: #04AA6D;
}


.nav-links a.profile-link {
  border: 2px solid #04AA6D;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  color: #f3efef;
  font-weight: bold;
  font-size: 14px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}


.nav-links a.profile-link:hover {
  background-color: #04AA6D;
  color: #fff;
  transform: scale(1.1);
}

.footer {
  width: 100%;
  background-color: transparent; 
  color: #fff;                 
  text-align: center;           
  padding: 20px 0;             
  position: fixed;             
  bottom: 0;
  left: 0;
  font-size: 14px;
  z-index: 1000;

}
